<configuration scan="true" scanPeriod="30 seconds" >
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <!-- deny all events with a level below INFO, that is TRACE and DEBUG -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>
                %-4relative [%thread] %-5level %logger{30} - %msg - %d{YYYY:HH:mm:ss} %n
            </pattern>
        </encoder>
    </appender>
    <appender name="FILE-REQUESTS" class="ch.qos.logback.core.FileAppender">
        <file>logs.log</file>
        <append>true</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern> %-4relative [%thread] %-5level %logger{35} - %msg - %d{YYYY:HH:mm:ss} %n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-ERRORS" class="ch.qos.logback.core.FileAppender">
        <file>errors.log</file>
        <append>true</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg - %d{YYYY:HH:mm:ss} %n</pattern>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE-REQUESTS" />
        <appender-ref ref="FILE-ERRORS" />
    </root>
</configuration>